Source: ros-melodic-md49-serialport
Section: misc
Priority: extra
Maintainer: Fabian Prinzing <scheik.todeswache@googlemail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roscpp
Homepage: http://www.the-starbearer.de
Standards-Version: 3.9.2

Package: ros-melodic-md49-serialport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-roscpp
Description: The md49_serialport package
